<div class="row">
  <div class="col-md-10 col-md-offset-1">
    
    <ol class="breadcrumb">  
      <li class="active">Categories</li>
    </ol>
  
  </div>
</div>
<br>


<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h4> Categories </h4>
  </div>
  <div class="col-md-5 text-right">
    <a class="btn btn-primary btn-sm" href="/#/create/category"><span class="glyphicon glyphicon-plus"></span> Create Category</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Sucategories</th>
        <th>Products</th>
        <th>Active</th>
        <th></th>
      </thead>
      <tbody><tr ng-repeat="category in categories">
          <td> <a ng-href="/#/category/{{ category._id }}">{{ category._id }}</a></td>
          <td>{{ category.name }}</td>
          <td>{{ category.subcategories.length }}</td>
          <td>{{ category.subcategories.products }}</td>
          <td>{{ category.isActive }}</td>
          <td>
            <div class="button-group">
              <a ng-href="/#/category/{{ category._id }}/edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
              <a ng-href="/#/category/{{ category._id }}/delete" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
